.about {
    margin-bottom: 15rem;
}

.about-container {
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}