* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    background: none;
    list-style: none;
    border: none;
}

body {
    background-color: var(--secondary-bg);

}


html {
    font-size: 62.5%;
}

a {
    color: var(--primary-accent);
    position: relative;
}

.section {
    padding: 3rem 15rem;
  
}

.sub-section {
    margin-top: 5rem;
    padding: 3rem 20rem;
    min-height: 60vh;
}

.section-title {
    font-size: 5rem;
    font-weight: 550;
    margin-bottom: 1.5rem;
    color: var(--primary-accent);
}

mark {
    color: var(--primary-accent);
}

.secondary-text {
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--secondary-text);
}

/* effects */
.line-effect::after {
    content: "";
    display: inline-block;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    transition: var(--transition-4ms);
}

.line-effect:hover::after {
    width: 100%;
}


.nav-bar {
    display: flex;
    width: 100%;
    z-index: 1;
    background-color: var(--secondary-bg);

}

#nav-links {
    margin-left: auto;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 550;

}

#nav-links a {
    transition: var(--transition-three-ms);
    color: var(--primary-text);
}

#nav-links a:hover {
    color: var(--primary-accent);
}


.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-20%);
    transition: all 1s;
    
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;

    }
}


.nav-bar.show{
    transition-delay: 180ms;
}
.intro.show{
    transition-delay: 30ms;
}

