.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

.container {
    padding: 2rem 5rem;
    position: relative;
    width: 80%;
    background-color: var(--tertiary-bg);
    border-radius: 4px;
    margin-bottom: 2rem;
    left: 15%;
    animation: movedown 0.5s linear forwards;
    opacity: 0;
}

.container::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    top: 50%;
    left: -12rem;
    z-index: 1;
    background-color: var(--primary-accent);
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    margin-top: 5rem;
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 1s;
    margin-top: 5rem;
}

.container img {
    width: 60%;
}

.container div {
    color: var(--primary-text);
}

.project-title {
    font-size: 5rem;
    color: var(--secondary-accent);
    margin-bottom: 1rem;
}

.project-title::after {
    background-color: var(--primary-accent);
    content: "";
    width: 0;
    height: 2px;
    opacity: 80%;
    transition: var(--transition-5ms);
    position: absolute;
    top: 8rem;
    left: 5rem;
}

.project-title:hover::after {
    width: 30%;
}

.project {
    padding: 1rem 3rem;
    position: relative;
    border-radius: 7px;
    font-size: 1.5rem;

}

.project-skills {
    margin-top: 1rem;
    background-color: var(--secondary-bg);
}

.timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 1%;
    margin-right: 5rem;
    z-index: 1;
    background-color: var(--primary-accent);
    animation: moveline 3s linear forwards;
}



@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


.icon-enlarge {
    font-size: 10rem;
}