.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 2rem 5rem;
    position: relative;
    width: 80%;
    background-color: var(--tertiary-bg);
    border-radius: 4px;
    margin-bottom: 2rem;
    left: 15%;

}

.container::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    top: 50%;
    left: -17%;
    z-index: -1;
    background-color: var(--primary-accent);
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    margin-top: 5rem;
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 1s;
    margin-top: 5rem;
}

.container img {
    width: 60%;
}

.container div {
    color: var(--primary-text);
}

.project-title {
    font-size: 5rem;
    color: var(--secondary-accent);
    margin-bottom: 1rem;
}

.project-title-small{
    font-size: 2rem;
    color: var(--secondary-accent);
    opacity: 50%;
    margin-bottom: 1rem;
}

.project-title::after {
    background-color: var(--primary-accent);
    content: "";
    width: 0;
    height: 2px;
    opacity: 80%;
    transition: var(--transition-5ms);
    position: absolute;
    top: 8rem;
    left: 5rem;
}

.project-title:hover::after {
    width: 70%;
}

.project {
    padding-top: 2rem;
    position: relative;
    border-radius: 7px;
    font-size: 1.5rem;
    z-index: -1;

}



.project-skills {
    margin-top: 1rem;
    background-color: var(--secondary-bg);
}

.timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 1%;
    margin-right: 5rem;
    z-index: -1;
    background-color: var(--primary-accent);

}

.enlarged{
    transform: scale(2.5);
    z-index: 3;
    opacity: 1;
}


.hidden-project{
    opacity: 0;
    transform: translateX(-30%);
    transition: all 2s;
}

.show-project{
    opacity: 1;
    transform: translateX(0);
   
}

.show-tl{
    animation: moveline 5s linear forwards;
    animation-delay: 1s;
}

.fa-code{
    margin-right: 1rem;
    color: var(--primary-accent);
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


.icon-enlarge {
    font-size: 3rem;
    position: absolute;
    opacity: 60%;
    top: 43%;
    left: 30%;
    z-index: 0;
    pointer-events: none;
    
}